* {
    margin: 0;
}

a,
h1,
h2,
h3,
p,
.choose-method select,
button {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

a {
    font-size: 14px;
}

a:hover {
    color: red;
}

h1 {
    font-size: 33px;
    color: #9ACCD5;
}

h2 {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 15px;
    font-weight: 300;
}

body {
    background: #F8F8F8;
}

.container {
    width: 850px;
    margin: 0 auto;
}

.wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    padding-top: 50px;
}

.nav-text {
    text-decoration: none;
}

#about {
    margin-top: 80px;
    margin-bottom: 100px;
}

.about-text {
    margin-top: 70px;
}

.about-text p {
    width: 400px;
    margin-top: 25px;
    color: #6D6B6B;
}

.map-img {
    width: 350px;
    border-radius: 300px;
    margin-top: 20px;
}

.main-page-method {
    text-align: center;
    width: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.main-page-method img {
    width: 150px;
    margin-bottom: 20px;
}

.main-page-method h3 {
    font-size: 14px;
    width: 160px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: 300;
}

button {
    width: 140px;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background: #9ACCD5;
    border: 1px solid #9ACCD5;
    font-size: 12px;
    cursor: pointer;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

button:hover::after {
    transform: scaleX(1) scaleY(1.6);
    opacity: 0;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#methods {
    margin-top: 80px;
}

.method {
    padding: 48px 40px 25px;
    width: 72%;
    margin: 0 auto;
    margin-top: 50px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
}

.method-img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.method p {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 430px;
}

.align-right {
    text-align: right;
}

.hidden {
    display: none;
}

.task-form {
    width: 85%;
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 60px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
}

#viewport {
    outline: gray 1px solid;
    border-radius: 10px;
}

#task .wrapper-row {
    justify-content: start;
}

.data {
    margin: 20px;
}

.city-amount input {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 20px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.choose-method select {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

#error-message {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 13px;
    color: red;
}

#matrix-inputs {
    margin-top: 10px;
    width: 100%;
}

#matrix-inputs div {
    display: flex;
    flex-direction: row;
}

#matrix-inputs input {
    width: 17px;
    margin: 3px;
}

#btn-answer {
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-clean {
    background-color: white;
    border: 1px solid #9ACCD5;
}

.blue-input {
    background-color: #9ACCD5;
}

.red-text {
    color: red;
}

footer {
    text-align: center;
    padding: 70px 0 30px 0;
}

footer p {
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 800px;
    }
    .map-img {
        width: 300px;
        height: 300px;
    }
    h1 {
        font-size: 30px;
    }
    .main-page-method img {
        width: 100px;
    }
    .main-page-method {
        width: 190px;
    }
    .method p {
        width: 400px;
        margin-top: 30px;
    }
    .method-img {
        width: 200px;
    }
    button {
        width: 130px;
    }
    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 600px;
    }
    .map-img {
        width: 200px;
        height: 200px;
    }
    h1 {
        font-size: 25px;
    }
    .main-page-method h3 {
        font-size: 10px;
        width: 110px;
    }
    .main-page-method {
        width: 190px;
    }
    .nav a {
        font-size: 12px;
    }
    #about {
        margin-top: 50px;
    }
    .about-text {
        margin-top: 50px;
    }
    .about-text p {
        font-size: 12px;
    }
    .main-page-method {
        width: 140px;
    }
    .main-page-method img {
        width: 80px;
    }
    button {
        width: 100px;
    }
    .method {
        width: 84%;
        padding-top: 35px;
    }
    .method p {
        font-size: 14px;
        width: 340px;
    }
    .method-img {
        width: 170px;
    }
    .task-form {
        flex-direction: column-reverse;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 500px;
    }
    .wrapper-row {
        flex-direction: column;
    }
    .task-form {
        flex-direction: column-reverse;
    }
    .data .wrapper-row {
        flex-direction: row;
    }
    .nav {
        flex-direction: row;
    }
    #about {
        margin-bottom: 30px;
    }
    .about-text,
    .map-img,
    .main-page-method,
    .method-img,
    .method p,
    .method button {
        margin: 0 auto;
    }
    .map-img {
        margin-top: 20px;
    }
    .method {
        text-align: center;
    }
    .align-right {
        padding-right: 0;
        text-align: center;
    }
    .method-img {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .method p {
        text-align: center;
        margin-bottom: 20px;
    }
    .main-page-method {
        margin-bottom: 10px;
        width: 200px;
    }
    .main-page-method h3 {
        font-size: 14px;
        width: 150px;
    }
    button {
        width: 140px;
    }
}

@media screen and (max-width: 576px) {
    .container,
    .about-text p {
        width: 300px;
    }
    .choose-method select {
        width: 190px;
    }
    button {
        width: 110px;
    }
    h1 {
        font-size: 22px;
    }
    .method {
        width: 95%;
    }
    .method p {
        font-size: 12px;
        width: 280px;
    }
    .method-img {
        width: 150px;
    }
    h2 {
        font-size: 15px;
    }
    #methods {
        margin-top: 0;
    }
}